@model IEnumerable<CinemaWebsite.Models.FilmModel>

@{
    ViewData["Title"] = "Films";
}

<div class="container">
    <h1>What's On</h1>

    <div class="row">
        @foreach (var film in Model)
        {
            <div class="col-md-4">
                <!--Card-->

                <a asp-action="Details" asp-route-id="@film.Id">
                    <div class="card" style="width: 18rem;">
                        <img src="@Url.Content("~" + film.Image)" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@film.Title</h5>
                            <p class="card-text">Age: @film.AgeRating</p>
                        </div>
                    </div>
                </a>

            </div> 
        }
    </div>

</div>